<div class="tab effects" id="effectsTab" data-group="primary" data-tab="effects">
    <div class="sheet item">
        <ol style="padding:3px">
            <li class="flexrow" style="padding-top:3px;padding-bottom:3px;">
                <div class="name" style="min-width:50%">{{localize 'JOHNSCYPHERADDONS.Name'}}</div>
                <div class="mode" style="min-width:20%">{{localize 'JOHNSCYPHERADDONS.Mode'}}</div>
                <div class="value">{{localize 'JOHNSCYPHERADDONS.Value'}}</div>
                <div class="item-controls" style="max-width:20px;text-align:right;padding-right:5px">
                    <a id="add-effect" style="{{#unless isGM}}visibility:hidden{{/unless}}"><i class="fas fa-plus"></i></a>
                </div>
            </li>
            <hr>
            {{#each (arrayfrom actor.effects) as |effect|}}
                <li class="item flexrow" data-index="{{@index}}">
                    <div class="label" style="min-width:50%">
                        <img src="{{effect.data.icon}}" style="height:20px">
                        {{effect.data.label}}
                        ({{effect.data.origin}})
                        
                        {{#with effect.data.flags.johns-cypher-addons.target as |target|}}
                            {{#if (eq target 'self')}}
                                <i class="fas fa-user-circle" style="min-width:20px;max-width:20px" title="{{localize 'JOHNSCYPHERADDONS.Self'}}"></i>
                            {{/if}}

                            {{#if (eq target 'PC')}}
                                <i class="fas fa-gamepad" style="min-width:20px;max-width:20px" title="{{localize 'JOHNSCYPHERADDONS.TargetPCs'}}"></i>
                                
                            {{/if}}

                            {{#if (eq target 'NPC')}}
                                <i class="fas fa-bullseye" style="min-width:20px;max-width:20px" title="{{localize 'JOHNSCYPHERADDONS.TargetNPCs'}}"></i>
                            {{/if}}
                        {{/with}}
                    </div>
                    
                    <div style="min-width:23%;max-width:23%">
                        {{#if effect.data.transfer}}
                            <i class="fas fa-arrow-down" style="padding-top:4px; width:10%"></i>
                        {{else}}
                            <i class="fas fa-arrow-right" style="padding-top:4px; width:10%"></i>
                        {{/if}}
                    </div>

                    <div>
                        {{#if effect.data.disabled}}
                            <strong style="color:red">{{localize 'JOHNSCYPHERADDONS.Disabled'}}</strong>
                        {{else}}
                            <strong style="color:green">{{localize 'JOHNSCYPHERADDONS.Enabled'}}</strong>
                        {{/if}}
                    </div>

                    <div class="item-controls" style="text-align:right; padding-right:5px">
                        <a id="edit-effect" data-index="{{@index}}" style="{{#unless ../isGM}}visibility:hidden{{/unless}}"><i class="fas fa-edit" data-index="{{@index}}"></i></a>
                        <a id="delete-effect" data-index="{{@index}}" style="{{#unless ../isGM}}visibility:hidden{{/unless}}"><i class="fas fa-trash" data-index="{{@index}}"></i></a>
                    </div>
                </li>
                {{#each effect.data.changes as |change|}}
                    <li class="flexrow" data-effect-index="{{@../index}}" data-change-index="{{@index}}">
                        <div class="key" style="min-width:50%">{{change.key}}</div>
                        <div class="mode" style="min-width:23%;max-width:23%">{{lookup ../../modes @change.mode}}</div>
                        <div class="value">{{change.value}}</div>
                    </li>
                {{/each}}
                <hr>
            {{/each}}
        </ol>
    </div>
</div>