<div class="tab affinities" id="affinitiesTab" data-group="primary" data-tab="affinities">
  <div class="flexrow">
    <ol class="items-list">
      <li class="item flexrow item-header">
        <div class="item-name">{{localize 'JOHNSCYPHERADDONS.Affinities'}}</div>
      </li>
      {{#each actor.data.flags.johns-cypher-addons.affinities as |affinity|}}
      <li class="item resource-content flexrow">
        <h4 class="item-name">
          <a class="item-control item-description" title="{{@key}}">
            {{@key}}
          </a>
        </h4>
        <div class="item-controls" {{#unless actor.isGM}}disabled{{/unless}}>  
          <select class="affinity" id="affinity-select" style="width: 120px" data-actor-id="{{../actor.id}}" data-affinity-key="{{@key}}">
            {{#select affinity}}
              <option value=""></option>
              <option value="weak">{{localize 'JOHNSCYPHERADDONS.Weak'}}</option>
              <option value="resistance">{{localize 'JOHNSCYPHERADDONS.Resistant'}}</option>
              <option value="immune">{{localize 'JOHNSCYPHERADDONS.Immune'}}</option>
            {{/select}}
          </select>
        </div>
      </li>
      {{/each}}
    </ol>

    <ol class="items-list">
      <li class="item flexrow item-header">
        <div class="item-name">{{localize 'JOHNSCYPHERADDONS.Conditions'}}</div>
      </li>
      {{#each actor.data.flags.johns-cypher-addons.conditions as |condition id|}}
      <li class="item resource-content flexrow">
        <h4 class="item-name">
          <a class="item-control item-description" title="{{@key}}">
            {{@key}}
          </a>
        </h4>
        <div class="item-controls" {{#unless actor.isGM}}disabled{{/unless}}>
            <input class="condition-immunity" data-actor-id="{{../actor.id}}" data-condition-key="{{@key}}" type="checkbox" title="{{localize 'JOHNSCYPHERADDONS.ConditionImmunity'}}" {{#if condition}}checked{{/if}}>
        </div>
      </li>
      {{/each}}
    </ol>
  </div>  
</div>