<div class="tab affinities" id="affinitiesTab" data-group="primary" data-tab="affinities">
    <div class="flexrow">
        <ol class="items-list">
            <li class="item flexrow item-header">
                <div class="item-name">{{localize 'JOHNSCYPHERADDONS.Affinities'}}</div>
            </li>
            {{#each item.data.flags.johns-cypher-addons.affinities as |affinity|}}
                <li class="item resource-content flexrow">
                    <h4 class="item-name">
                        <a class="item-control item-description" title="{{@key}}">
                            {{@key}}
                        </a>
                    </h4>
                    <div class="item-controls" {{#unless actor.isGM}}disabled{{/unless}}>  
                        <select class="affinity" id="affinity-select" style="width: 120px" data-key="{{@key}}">
                            {{#select affinity}}
                                <option value=""></option>
                                <option value="weak">{{localize 'JOHNSCYPHERADDONS.Weak'}}</option>
                                <option value="resistance">{{localize 'JOHNSCYPHERADDONS.Resistant'}}</option>
                                <option value="immune">{{localize 'JOHNSCYPHERADDONS.Immune'}}</option>
                            {{/select}}
                        </select>
                    </div>
                </li>
            {{/each}}          
        </ol>
    </div>
</div>