<div class="flexrow" id="additionalSettings">
    <ol class="items-list">
        <li class="item flexrow">
            <div class="item-name">
                <i>{{localize 'JOHNSCYPHERADDONS.AdditonalSettings'}}</i>
            </div>
        </li>
        <li class="item flexrow item-settings">
            <label class="settings-list">
                {{localize 'JOHNSCYPHERADDONS.Throwing'}}
            </label>
            <input class="throwing" {{#unless isGM}}disabled{{/unless}} type="checkbox" title="{{localize 'JOHNSCYPHERADDONS.ToggleThrowing'}}" {{checked item.data.flags.johns-cypher-addons.additionalSettings.throwing}}>
        </li>
        <li class="item flexrow item-settings">
            <label class="settings-list">
                {{localize 'JOHNSCYPHERADDONS.RequiresAmmo'}}
            </label>
            <input class="requiresAmmo" {{#unless isGM}}disabled{{/unless}} type="checkbox" title="{{localize 'JOHNSCYPHERADDONS.ToggleRequiresAmmo'}}" {{checked item.data.flags.johns-cypher-addons.additionalSettings.requiresAmmo}}>
        </li>

        {{#if data.actor}}
            {{#if item.data.flags.johns-cypher-addons.additionalSettings.requiresAmmo}}
                <li class="item flexrow item-settings">
                    <label class="settings-list">
                        {{localize 'JOHNSCYPHERADDONS.EquippedAmmo'}}
                    </label>
                    <select class="auto-margin setting-input" id="ammo-select" style="width: 135px">
                        {{#select item.data.flags.johns-cypher-addons.additionalSettings.ammoID}}
                            <option value=""></option>
                            {{#each (filter data.actor.items "type" "ammo") as |ammo|}}
                                {{#if (gt ammo.data.data.quantity 0)}}
                                    <option value="{{ammo.id}}">{{ammo.name}}</option>
                                {{/if}}
                            {{/each}}
                        {{/select}}
                    </select>
                </li>
            {{/if}}
        {{/if}}
    </ol>
</div>