<div class="flexrow" id="additionalSettings">
    <ol class="items-list">
        <li class="item flexrow">
            <div class="item-name">
                <i>{{localize 'JOHNSCYPHERADDONS.AdditonalSettings'}}</i>
            </div>
        </li>
        {{#if data.actor}}
            {{#with (find data.actor.items "id" item.id) as |element|}}
                <li class="item flexrow item-settings">
                    <label class="settings-list">
                        {{localize 'JOHNSCYPHERADDONS.Throwing'}}
                    </label>
                    <input class="throwing" {{#if data.isObserver}}disabled{{/if}} data-item-id="{{element.id}}"  data-item-actor-id="{{element.actor.id}}" type="checkbox" title="{{localize 'JOHNSCYPHERADDONS.ToggleThrowing'}}" {{#if element.data.flags.johns-cypher-addons.additionalSettings.throwing}}checked{{/if}}>
                </li>
                <li class="item flexrow item-settings">
                    <label class="settings-list">
                        {{localize 'JOHNSCYPHERADDONS.RequiresAmmo'}}
                    </label>
                    <input class="requiresAmmo" {{#if data.isObserver}}disabled{{/if}} data-item-id="{{element.id}}"  data-item-actor-id="{{element.actor.id}}" type="checkbox" title="{{localize 'JOHNSCYPHERADDONS.ToggleRequiresAmmo'}}" {{#if element.data.flags.johns-cypher-addons.additionalSettings.requiresAmmo}}checked{{/if}}>
                </li>

                {{#if element.data.flags.johns-cypher-addons.additionalSettings.requiresAmmo}}
                    <li class="item flexrow item-settings">
                        <label class="settings-list">
                            {{localize 'JOHNSCYPHERADDONS.EquippedAmmo'}}
                        </label>
                        <select class="auto-margin setting-input" id="ammo-select" style="width: 135px" data-item-actor-id="{{element.actor.id}}" data-item-id="{{element.id}}">
                            {{#select element.data.flags.johns-cypher-addons.additionalSettings.ammoID}}
                                <option value=""></option>
                                {{#each (filter ../data.actor.items "type" "ammo") as |ammo|}}
                                    {{#if (gt ammo.data.data.quantity 0)}}
                                        <option value="{{ammo.id}}">{{ammo.name}}</option>
                                    {{/if}}
                                {{/each}}
                            {{/select}}
                        </select>
                    </li>
                {{/if}}
        
            {{/with}}
        {{else}}
            <li class="item flexrow item-settings">
                <label class="settings-list">
                    {{localize 'JOHNSCYPHERADDONS.Throwing'}}
                </label>
                <input class="throwing" {{#if data.isObserver}}disabled{{/if}} data-item-id="{{item.id}}" type="checkbox" title="{{localize 'JOHNSCYPHERADDONS.ToggleThrowing'}}" {{#if ../item.data.flags.johns-cypher-addons.additionalSettings.throwing}}checked{{/if}}>
            </li>
            <li class="item flexrow item-settings">
                <label class="settings-list">
                    {{localize 'JOHNSCYPHERADDONS.RequiresAmmo'}}
                </label>
                <input class="requiresAmmo" {{#if data.isObserver}}disabled{{/if}} data-item-id="{{item.id}}" type="checkbox" title="{{localize 'JOHNSCYPHERADDONS.ToggleRequiresAmmo'}}" {{#if ../item.data.flags.johns-cypher-addons.additionalSettings.requiresAmmo}}checked{{/if}}>
            </li>
        {{/if}}  
    </ol>
</div>