<div class="tab effects" id="effectsTab" data-group="primary" data-tab="effects" {{#unless actor.isGM}}disabled{{/unless}}>
    <div class="sheet item ">
        <ol style="padding:3px">
            <li class="flexrow" style="padding-top:3px;padding-bottom:3px;">
                <div class="name">{{localize 'JOHNSCYPHERADDONS.Name'}}</div>
                <div class="mode">{{localize 'JOHNSCYPHERADDONS.Mode'}}</div>
                <div class="value">{{localize 'JOHNSCYPHERADDONS.Value'}}</div>
                <div class="item-controls" style="text-align:right;padding-right:5px">
                    <a class="add"><i class="fas fa-plus"></i></a>
                </div>
            </li>
            <hr>
            {{#each item.data.flags.johns-cypher-addons.effects as |effect|}}
                <li class="item flexrow" data-index="{{@index}}">
                    <div class="label">
                        <img src="{{effect.icon}}" style="height:20px">
                        {{effect.label}}
                        ({{effect.origin}})
                    </div>
                    {{#if effect.transfer}}
                        <i class="fas fa-arrow-down" style="padding-top:4px; width:10%"></i>
                    {{else}}
                        <i class="fas fa-arrow-right" style="padding-top:4px; width:10%"></i>
                    {{/if}}

                    {{#if effect.disabled}}
                        <strong style="color:red">{{localize 'JOHNSCYPHERADDONS.Disabled'}}</strong>
                    {{else}}
                            <strong style="color:green">{{localize 'JOHNSCYPHERADDONS.Enabled'}}</strong>
                    {{/if}}

                    <div class="item-controls" style="text-align:right; padding-right:5px">
                        <a class="edit" data-index="{{@index}}"><i class="fas fa-edit" data-index="{{@index}}"></i></a>
                        <a class="delete" data-index="{{@index}}"><i class="fas fa-trash" data-index="{{@index}}"></i></a>
                    </div>
                </li>
                {{#each effect.changes as |change|}}
                <li class="flexrow" data-effect-index="{{@../index}}" data-change-index="{{@index}}">
                    <div class="key">{{change.key}}</div>
                    <div class="mode">{{lookup ../../modes @change.mode}}</div>
                    <div class="value">{{change.value}}</div>
                </li>
                {{/each}}
                <hr>
            {{/each}}
        </ol>
    </div>
</div>