{{> "systems/cyphersystem/templates/item/armor-sheet.html"}}
{{> "modules/johns-cypher-addons/templates/navs/affinities.html" }}
{{> "modules/johns-cypher-addons/templates/tabs/armor-affinities.html" }}
{{> "modules/johns-cypher-addons/templates/navs/tags.html" }}
{{> "modules/johns-cypher-addons/templates/tabs/item-tags.html" }}
{{> "modules/johns-cypher-addons/templates/navs/effects.html" }}
{{> "modules/johns-cypher-addons/templates/tabs/item-effects.html" }}
<script src="modules/johns-cypher-addons/module/items/armor-sheet-addons.js" defer></script>
<script src="modules/johns-cypher-addons/module/items/item-sheet-addons.js" defer></script>